layout {
    focus-ring {
        width 2
        // Active window uses the primary accent at 100% opacity
        active-color "#b2c5ff"
        
        // Inactive window uses a subtle outline at 40% opacity
        inactive-color "#8f909a66"
    }

    border {
        off
        width 1
        active-color "#30457899"
        inactive-color "#12131866"
    }
}
