{
    "layer": "top",
    "position": "top",
    "margin-top": 0,
    "margin-left": 0,
    "margin-right": 0,
    "spacing": 0,

    "modules-left": ["custom/app-launcher", "niri/workspaces"],
    "modules-center": ["clock"],
    "modules-right": [
        "group/scrollables",
        "group/connections",
        "group/hardware",
        "battery",
        "tray"],
    
    "custom/app-launcher": {
    	"format": " ",
    	"tooltip-format": "Application Launcher",
    	"on-click": "fuzzel"
    },
    
    "niri/workspaces": {
        "format": "{icon}",
        "format-icons": {
            "1": "一",
            "2": "二",
            "3": "三",
            "4": "四",
            "5": "五",
            "6": "六",
            "7": "七",
            "8": "八",
            "9": "九",
            "10": "十",
            "default": "々"
        }
    },

    "clock": {
        "interval": 60,
        "format": "  <span color='#e0def4'>{:%I:%M %p}</span>",
        "format-alt": "  <span color='#e0def4'>{:%a %b %d}</span>", 
        "tooltip-format": "<tt>{calendar}</tt>",
        "calendar": {
            "mode": "year",
            "mode-mon-col": 3,
            "on-scroll": 1,
            "format": {
                "months": "<span color='#ebbcba'><b>{}</b></span>",
                "days": "<span color='#9ccfd8'><b>{}</b></span>",
                "weekdays": "<span color='#f6c177'><b>{}</b></span>",
                "today": "<span color='#eb6f92'><b><u>{}</u></b></span>"
            },
        },
    },

    "group/scrollables": {
        "orientation": "horizontal",
        "modules": [
            "pulseaudio",
            "custom/brightness"
        ],
        "drawer": {
            "transition-duration": 500,
            "transition-left-to-right": false
        }
    },

    "pulseaudio": {
        "format": "{icon}<span color='#e0def4'>{volume}%</span>",
        "scroll-step": 5.0,
        "format-muted": "󰝟 ",
        "format-icons": ["󰕿 ", "󰖀 ", "󰕾 "]
    },

   "custom/brightness": {
      "format": "󰃠 <span color='#e0def4'>{text}%</span>",
      "signal": 5,
      "exec": "~/.config/waybar/brightness-control.sh get",
      "on-scroll-up": "~/.config/waybar/brightness-control.sh up",
      "on-scroll-down": "~/.config/waybar/brightness-control.sh down",
      "on-click": "~/.config/waybar/brightness-control.sh left_click",
      "on-click-right":  "~/.config/waybar/brightness-control.sh right_click",
      "tooltip": false
    },

    "group/connections": {
        "orientation": "horizontal",
        "modules": [
            "network",
            "bluetooth"
        ],
        "drawer": {
            "transition-duration": 500,
            "transition-left-to-right": false
        }
    },

    "network": {
        "interval": 5,
        "format-wifi": "{icon}  <span color='#e0def4'>{signalStrength}%</span>",
        "format-icons": ["󰤯", "󰤟", "󰤢", "󰤥", "󰤨"],
        "format-ethernet": "󰈀",
        "format-disconnected": "󰖪",
        "format-disabled": "󰣽",

        "tooltip-format-wifi": "󰖩  {essid}\n󰇚 Down: {bandwidthDownOctets}\n󰕒 Up: {bandwidthUpOctets}\n󰩟  IP: {ipaddr}",
        "tooltip-format-ethernet": "󰈀 {ifname}\n󰇚 Down: {bandwidthDownOctets}\n󰕒 Up: {bandwidthUpOctets}\nIP: {ipaddr}/{cidr}",
        "on-click": "nm-connection-editor"
    },

    "bluetooth": {
        "format": " <span color='#e0def4'>{status}</span>",
        "format-connected": " <span color='#e0def4'>{device_alias}</span>",
        "format-connected-battery": " <span color='#e0def4'>{device_alias} {device_battery_percentage}%</span>",
        "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
        "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
        "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
        "on-click": "blueman-manager"
    },
    
    "group/hardware": {
        "orientation": "horizontal",
        "modules": [
            "cpu",
            "memory",
            "disk"
        ],
        "drawer": {
            "transition-duration": 500,
            "transition-left-to-right": false
        }
    },

    "cpu": {
        "interval": 5,
        "format": "  <span color='#e0def4'>{usage}%</span>",
        "max-length": 10
    },

    "memory": {
        "interval": 5,
        "format": "  <span color='#e0def4'>{percentage}%</span>"
    },

    "disk": {
        "interval": 30,
        "format": "󰋊 <span color='#e0def4'>{percentage_used}%</span>",
        "path": "/",
        "tooltip-format": "{used} used out of {total} on {path}"
    },

    "battery": {
        "states": { "warning": 30, "critical": 15 },
        "format": "{icon}  <span color='#e0def4'>{capacity}%</span>",
        "format-icons": ["", "", "", "", ""],
        "format-charging": " {capacity}%",
        "format-plugged": "  {capacity}%"
    }
}

