/* Basic Reset and Global Styling */
* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font", "Noto Sans CJK", sans-serif;
    font-size: 20px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(20, 20, 20, 0.7); /* Subtle transparency */
    color: #ffffff;
    border-bottom: 1px solid #999999;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Common styling for all modules */
#custom-app-launcher,
#workspaces button,
#clock,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#cpu,
#memory,
#disk,
#battery,
#tray {
    padding: 0 10px;
    margin: 4px 2px;
    background-color: transparent;
    border-radius: 8px;
}

#custom-app-launcher {
    color: #40bfff;
}

/* Darken modules on hover */
#custom-app-launcher:hover,
#workspaces button:hover,
#clock:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#battery:hover,
#tray:hover {
    background-color: rgba(20, 20, 20, 0.3);
    transition: background-color 0.5s ease;
}

#workspaces button {
    padding: 0 5px;
    color: #999999;
    font-size: 16px;
    border: 1px solid rgba(20, 20, 20, 0.0);
    background: transparent;
    transition: all 0.5s ease;
}

#workspaces button.active {
    color: #ffffff;
    border: 1px solid #999999;
    border-bottom: 1px transparent;
    border-top: 1px transparent;
}

#clock {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

#group-scrollables,
#group-connections,
#group-hardware {
    margin-right: 5px;
    padding: 0 5px;
}

#pulseaudio,
#backlight,
#network,
#bluetooth,
#cpu,
#memory,
#disk,
#battery,
#tray {
    border: 1px transparent;
    border-right: 1px solid #999999;
}

/* Battery States */
#battery.warning {
    color: #ffcc00;
}

#battery.critical {
    color: #ff5555;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* System Tray */
#tray {
    margin-right: 8px;
    border-right: 1px transparent;
}

/* Animations */
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Tooltip Styling */
tooltip {
    background: rgba(20, 20, 20, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border to define the edge */
    border-radius: 8px;
}

tooltip label {
    color: #ffffff;
    padding: 8px;
}
